# Temp files #
###############
*.swp
*.orig
tmp/*
.DS_Store
.vimrc
.lvimrc
*.sqlite3

# Vendor Code #
###############
vendor/*

.settings
.buildpath
.project
*bak*
*draft*
*phprbac.sqlite3*
*Doxygen*
*phpdoc*
index.php
