<?php
$cfg = [
   'mysql' => [
       'dbType' => 'mysql',
       'host'   => 'localhost',

       'dbName' => 'rbac_tests',
       'user' => 'root',
       'pass' => '',

       'pfx' => 'phprbac_',
    ],
    'sqlite' => [
       'dbType' => 'sqlite',
       'filePath' => __DIR__ . '/../phprbac_tests.sqlite3',
       'pfx' => 'phprbac_',
    ],
   'pgsql' => [
       'dbType' => 'pgsql',
       'host'   => 'localhost',

       'dbName' => 'rbac',
       'user' => 'vagrant',
       'pass' => 'vagrant',

       'pfx' => 'phprbac_',
    ],
];
